[Desktop Entry]
Name=Homing Fever
Comment=Addictive missile dodging game
Exec=homingfever.elf
Terminal=false
Type=Application
StartupNotify=true
Icon=homingfever
X-OD-Manual=homingfever.man.txt
Categories=games;

